
/* paul irish reset:*/

html{
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Pacifico', cursive;
}
*,*:before,*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*color constants*/
:root{ 
    
    --background-primary: #f5f5f5;
    --background-promo: #8d0e0e;
    --background-info-box: #b8b4b8;
    --font-primary: #010101;
    --heading-color: #213c21;
    --font-promo:yellow;

}

.top-promo-bar{
    width: 100%;
    font-size: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.2rem 0; 
    color: var(--font-promo);
    background-color: var(--background-promo);
}



.main-logo{
    color: var(--heading-color);
    text-align: center;
    font-size: 32px;
    margin: 16px auto;
}

.fluid-container{
    width: 100%;
    background-color:  tan
     

}

.main-menu{
    position:sticky;
    top:0;

}

.main-banner{
    width: 100%;
    height: 400px;
    background-color: var(--background-info-box);

}


.main-banner{
    background-image: url(./peeps\ in\ coffee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
 
.offer-container{
    width: 400px;
    margin: 20px auto;
    background-color: lightgoldenrodyellow ;

}

.banner{
    border:1px black
    width 400px;
    height:600px; 

}

.banner-2 {
    background-image: url(./2c.jpg);

    

}
.banner-2
{
    height: 600px;
    border-radius: 10px;
}

.third-banner{
    background-image: url(./ansip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}

.cvideo{
    position: relative;
    right:80px;

}

.carousel {
    width: 100%;
    height: 90px;
    background-color: rgb(207, 167, 65);
    
}
  
     


.toc-text {
    text-align: center;
    font-size: 1.2rem;
    margin: 25px 50px;

}

.social-media{
    background-color: honeydew;
widows: 100%;
height: 75px;


}

.copyright {
    text-align: center;
    font-size: 1.1rem;

}

.fixed-circle{
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary);
    box-shadow: 2px 2px 7px rgba(0,0,0,0.4);



}


.leave-message{
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
     


}

.leave-message-text{
    font-size: 1.6rem; 
    line-height: 1.8rem;
    position: fixed ;
    bottom: 2rem;
    left: 2rem;

}

.back-to-top{
font-size: 4.5rem;
position: fixed;
bottom:2rem;  
right:2rem;
}